doctype html
html
    html
        head(lang='en')
            meta(charset='UTF-8')
            title CuuBEZ Editor
            meta(name='description', content='description')
            meta(name='author', content='CuuBEZ')
            meta(name='viewport', content='width=device-width, initial-scale=1')
            link(href='/stylesheets/bootstrap.css', rel='stylesheet')
            link(href='/stylesheets/editor.css', rel='stylesheet')
            link(href='/javascripts/bootstrap.js', rel='stylesheet')
            link(href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
            link(href='http://fonts.googleapis.com/css?family=Righteous', rel='stylesheet', type='text/css')
            link(href='/stylesheets/sweetalert.css', rel='stylesheet')
            link(href='/stylesheets/documentation.css', rel='stylesheet')
            link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css')
            link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css')
<body ng-app="myApp">
<nav class="navbar navbar-default">
<div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<img src="https://code.google.com/p/cuubez/logo?cct=1409036089">
</div>
<ul class="nav navbar-nav">
<li ><h3>Online Editor</h3><span class="sr-only">(current)</span></li>
</ul>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav navbar-right">
<li><a href="#">Link</a></li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
<li><a href="#">Action</a></li>
<li><a href="#">Another action</a></li>
<li><a href="#">Something else here</a></li>
<li class="divider"></li>
<li><a href="#">Separated link</a></li>
</ul>
</li>
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div class="row">
<div id="editor" class="col-md-6">
:verbatim
    ---
    web_app:
      main:
        -
          Description_title: "Cuubez API Description"
          Description: "Use virtual networking services among devices that are managed by the OpenStack Compute service. The Networking (neutron) API v2.0 combines the API v1.1 functionality with some essential Internet Protocol Address Management (IPAM) functionality."
      head:
        -
          class_server: "employee resource"
          title: "cuubez example employee"
      methode_server:
        get_group:
          -
            name: "employees"
            description: "get all the employee from the repository"
            response:
              -
                code: "500"
                reason: "internal server error"
              -
                code: "200"
                reason: "success response"
            body:
              -
                type: "object"
                id: "urn:jsonschema:com:cuubez:example:entity:Employee"
                properties:
                  address:
                    type: "string"
                  department:
                    type: "string"
                  name:
                    type: "string"
                  empId:
                    type: "string"
                  telNo:
                    type: "string"
        post_single:
          -
            name: "employees"
            description: "get all the employee from the repository"
            response:
              -
                code: "500"
                reason: "internal server error"
              -
                code: "200"
                reason: "success response"
            body:
              -
                type: "object"
                id: "urn:jsonschema:com:cuubez:example:entity:Employee"
                properties:
                  address:
                    type: "string"
                  department:
                    type: "string"
                  name:
                    type: "string"
                  empId:
                    type: "string"
                  telNo:
                    type: "string"
        get_single:
          -
            name: "employees/{empId}"
            description: "get single employee from the repository"
            request:
              -
                parameter: "(QP)empId"
                type: "string"
                description: "employee identity"
              -
                parameter: "(HP)org_Id"
                type: "string"
                description: "organization identity"
            response:
              -
                code: "500"
                reason: "internal server error"
              -
                code: "200"
                reason: "succes response"
              -
                code: "400"
                reason: "no employee found"
        delete_single:
          -
            name: "employees/{empId}"
            description: "delete single employee from the repository"
            request:
              -
                parameter: "(PP)empId"
                type: "string"
                description: "employee identity"
            response:
              -
                code: "500"
                reason: "internal server error"
              -
                code: "200"
                reason: "succes response"
              -
                code: "400"
                reason: "no employee found"
        put_single:
          -
            name: "employees/{empId}"
            description: "update single employee"
            request:
              -
                parameter: "(PP)empId"
                type: "string"
                description: "employee identity"
            body:
              -
                type: "object"
                id: "urn:jsonschema:com:cuubez:example:entity:Employee"
                properties:
                  address:
                    type: "string"
                  department:
                    type: "string"
                  name:
                    type: "string"
                  empId:
                    type: "string"
                  telNo:
                    type: "string"
            response:
              -
                code: "500"
                reason: "internal server error"
              -
                code: "200"
                reason: "succes response"
              -
                code: "400"
                reason: "no employee found"
    client_app:
      methode_client:
        head:
          -
            class_client: "User resource"
            title: "/users"
        post_single_user:
          -
            name: "users"
            description: "Add new user to repository"
            response:
              -
                code: "500"
                reason: "internal server error"
              -
                code: "200"
                reason: "success response"
            body:
              -
                type: "object"
                id: "urn:jsonschema:com:cuubez:example:entity:Employee"
                properties:
                  address:
                    type: "string"
                  department:
                    type: "string"
                  name:
                    type: "string"
                  empId:
                    type: "string"
                  telNo:
                    type: "string"
        delete_single_user:
          -
            name: "users/{userId}"
            description: "delete single user from the repository "
            request:
              -
                parameter: "(PP)userId"
                type: "string"
                description: "user identity"
            response:
              -
                code: "500"
                reason: "internal server error"
              -
                code: "200"
                reason: "succes response"
              -
                code: "400"
                reason: "no employee found"
        put_single_user:
          -
            name: "users/{userId}"
            description: "update single user"
            request:
              -
                parameter: "(PP)userId"
                type: "string"
                description: "user identity"
            body:
              -
                type: "object"
                id: "urn:jsonschema:com:cuubez:example:entity:User"
                properties:
                  address:
                    type: "string"
                  department:
                    type: "string"
                  name:
                    type: "string"
                  userId:
                    type: "string"
                  telNo:
                    type: "string"
            response:
              -
                code: "500"
                reason: "internal server error"
              -
                code: "200"
                reason: "succes response"
              -
                code: "400"
                reason: "no user found"
        get_users:
          -
            name: "users"
            description: "get all the users from the repository"
            response:
              -
                code: "500"
                reason: "internal server error"
              -
                code: "200"
                reason: "success response"
            body:
              -
                type: "object"
                id: "urn:jsonschema:com:cuubez:example:entity:User"
                properties:
                  address:
                    type: "string"
                  department:
                    type: "string"
                  name:
                    type: "string"
                  userId:
                    type: "string"
                  telNo:
                    type: "string"
        get_single_user:
          -
            name: "users/{userId}"
            description: "get single user from the repository"
            request:
              -
                parameter: "(PP)userId"
                type: "string"
                description: "user identity"
            response:
              -
                code: "500"
                reason: "internal server error"
              -
                code: "200"
                reason: "succes response"
              -
                code: "400"
                reason: "no user found"
</div>
:verbatim
    <div id="documentation" class="col-md-6">
    <div ng-controller="jsonCtrl" class="col-md-12">
    <form name="myForm" >
    <input json-input id="jsoncode" type="text" name="input" ng-model="myData"/>
    <!--<p>{{myData}}</p>-->
    <table border="0">
    <tr ng-repeat="data in myData.web_app.main">
    <div class="page-header">
    <td>
    <h1> {{data.Description_title}}</h1>
    </td>
    <td>
    <h1> {{data.Description_title}}</h1>
    </td>
    </div>
    </tr>
    <tr ng-repeat="data in myData.web_app.main">
    <div class="page-header">
    <td>
    <h3>{{data.Description}}</h3>
    </td>
    </div>
    </tr>
    </table>
    <div class="panel panel-default">
    <div class="panel-heading clickable">
    <h3 class="panel-title">
    <table border="0">
    <tr ng-repeat="data in myData.web_app.head">
    <td>
    <h4> {{data.title}}</h4>
    </td>
    <td>{{data.class_server}}</td>
    </tr>
    </table>
    </h3>
    </div>
    </div>
    <!--
    <tr ng-repeat="data in myData.web_app">
    <td><h4> {{data.Description_title}}  </h4></td>
    <td>{{data.Description}}</td>
    </tr>
    -->
    <div class="panel panel-primary">
    <div class="panel-heading clickable">
    <h3 class="panel-title">
    <table border="0">
    <tr ng-repeat="data in myData.web_app.methode_server.get_group">
    <td>
    <h5> GET /</h5>
    </td>
    <td>{{data.name}}</td>
    </tr>
    </table>
    </h3><span class="pull-right"><i class="glyphicon glyphicon-minus"></i></span>
    </div>
    <div class="panel-body">
    <table border="0" class="table">
    <tr ng-repeat="data in myData.web_app.methode_server.get_group">
    <td>{{data.description}}</td>
    <table border="1" class="table">RESPONSE:
    <tr>
    <th>Code</th>
    <th>Reason</th>
    </tr>
    <tr ng-repeat="data in myData.web_app.methode_server.get_group">
    <td>{{data.response[0].code}}</td>
    <td>{{data.response[0].reason}}</td>
    </tr>
    <tr ng-repeat="data in myData.web_app.methode_server.get_group">
    <td>{{data.response[1].code}}</td>
    <td>{{data.response[1].reason}}</td>
    </tr>
    </table>
    <table border="0">BODY
    <tr ng-repeat="data in myData.web_app.methode_server.get_group">
    <td>
    <textarea readonly="" cols="100" rows="4" class="form-control">{{data.body | json}}</textarea>
    </td>
    </tr>
    </table>
    </tr>
    </table>
    </div>
    </div>
    <div class="panel panel-success">
    <div class="panel-heading clickable">
    <h3 class="panel-title">
    <table border="0">
    <tr ng-repeat="data in myData.web_app.methode_server.get_group">
    <td>
    <h5> POST /</h5>
    </td>
    <td>{{data.name}}</td>
    </tr>
    </table>
    </h3><span class="pull-right"><i class="glyphicon glyphicon-minus"></i></span>
    </div>
    <div class="panel-body">
    <table border="0" class="table">
    <tr ng-repeat="data in myData.web_app.methode_server.post_single">
    <td>{{data.description}}</td>
    <table border="1" class="table">RESPONSE:
    <tr>
    <th>Reason</th>
    </tr>
    <table border="0">BODY:
    <table border="0">
    <tr ng-repeat="data in myData.web_app.methode_server.post_single">
    <td>
    <textarea readonly="" cols="100" rows="4" class="body-textarea">{{data.body | json}}</textarea>
    </td>
    </tr>
    </table>
    </table>
    </table>
    </tr>
    </table>
    <tr ng-repeat="data in myData.web_app.methode_server.post_single">
    <td>{{data.response[0].code}}</td>
    <td>{{data.response[0].reason}}</td>
    </tr>
    <tr ng-repeat="data in myData.web_app.methode_server.post_single">
    <td>{{data.response[1].code}}</td>
    <td>{{data.response[1].reason}}</td>
    </tr>
    </div>
    </div>
    <!-- - GET SINGLE-->
    <div class="panel panel-primary">
    <div class="panel-heading clickable">
    <h3 class="panel-title">
    <table border="0">
    <tr ng-repeat="data in myData.web_app.methode_server.get_single">
    <td>
    <h5> GET /</h5>
    </td>
    <td>{{data.name}}</td>
    </tr>
    </table>
    </h3><span class="pull-right"><i class="glyphicon glyphicon-minus"></i></span>
    </div>
    <div class="panel-body">
    <table border="0" class="table">
    <tr ng-repeat="data in myData.web_app.methode_server.get_single">
    <td>{{data.description}}</td>
    </tr>
    </table>
    <table border="1" class="table">REQUEST:
    <tr>
    <th>parameter</th>
    <th>type</th>
    <th>description</th>
    </tr>
    <tr ng-repeat="data in myData.web_app.methode_server.get_single">
    <td>{{data.request[0].parameter}}</td>
    <td>{{data.request[0].type}}</td>
    <td>{{data.request[0].description}}</td>
    </tr>
    <tr ng-repeat="data in myData.web_app.methode_server.get_single">
    <td>{{data.request[1].parameter}}</td>
    <td>{{data.request[1].type}}</td>
    <td>{{data.request[1].description}}</td>
    </tr>
    </table>
    <table border="1" class="table">RESPONSE:
    <tr>
    <th>code</th>
    <th>reason</th>
    </tr>
    <tr ng-repeat="data in myData.web_app.methode_server.get_single">
    <td>{{data.response[0].code}}</td>
    <td>{{data.response[0].reason}}</td>
    </tr>
    <tr ng-repeat="data in myData.web_app.methode_server.get_single">
    <td>{{data.response[1].code}}</td>
    <td>{{data.response[1].reason}}</td>
    </tr>
    <tr ng-repeat="data in myData.web_app.methode_server.get_single">
    <td>{{data.response[2].code}}</td>
    <td>{{data.response[2].reason}}</td>
    </tr>
    </table>
    </div>
    </div>
    <div class="panel panel-danger">
    <div class="panel-heading clickable">
    <h3 class="panel-title">
    <table border="0">
    <tr ng-repeat="data in myData.web_app.methode_server.delete_single">
    <td>
    <h5> DELETE /</h5>
    </td>
    <td>{{data.name}}</td>
    </tr>
    </table>
    </h3><span class="pull-right"><i class="glyphicon glyphicon-minus"></i></span>
    </div>
    <div class="panel-body">
    <table border="0" class="table">
    <tr ng-repeat="data in myData.web_app.methode_server.delete_single">
    <td>{{data.description}}</td>
    </tr>
    </table>
    <table border="1" class="table">REQUEST:
    <tr>
    <th>parameter</th>
    <th>type</th>
    <th>description</th>
    </tr>
    <tr ng-repeat="data in myData.web_app.methode_server.delete_single">
    <td>{{data.request[0].parameter}}</td>
    <td>{{data.request[0].type}}</td>
    <td>{{data.request[0].description}}</td>
    </tr>
    </table>
    <table border="1" class="table">RESPONSE:
    <tr>
    <th>code</th>
    <th>reason</th>
    </tr>
    <tr ng-repeat="data in myData.web_app.methode_server.delete_single">
    <td>{{data.response[0].code}}</td>
    <td>{{data.response[0].reason}}</td>
    </tr>
    <tr ng-repeat="data in myData.web_app.methode_server.delete_single">
    <td>{{data.response[1].code}}</td>
    <td>{{data.response[1].reason}}</td>
    </tr>
    <tr ng-repeat="data in myData.web_app.methode_server.delete_single">
    <td>{{data.response[2].code}}</td>
    <td>{{data.response[2].reason}}</td>
    </tr>
    </table>
    </div>
    </div>
    <div class="panel panel-warning">
    <div class="panel-heading clickable">
    <h3 class="panel-title">
    <table border="0">
    <tr ng-repeat="data in myData.web_app.methode_server.put_single">
    <td>
    <h5> PUT /</h5>
    </td>
    <td>{{data.name}}</td>
    </tr>
    </table>
    </h3><span class="pull-right"><i class="glyphicon glyphicon-minus"></i></span>
    </div>
    <div class="panel-body">
    <table border="0" class="table">
    <tr ng-repeat="data in myData.web_app.methode_server.put_single">
    <td>{{data.description}}</td>
    <table border="1" class="table">REQUEST:
    <tr>
    <th>parameter</th>
    <th>type</th>
    <th>description</th>
    </tr>
    <tr ng-repeat="data in myData.web_app.methode_server.put_single">
    <td>{{data.request[0].parameter}}</td>
    <td>{{data.request[0].type}}</td>
    <td>{{data.request[0].description}}</td>
    </tr>
    </table>
    <table border="1" class="table">RESPONSE:
    <tr>
    <th>code</th>
    <th>reason</th>
    </tr>
    <table border="0">BODY:
    <table border="0">
    <tr ng-repeat="data in myData.web_app.methode_server.put_single">
    <td>
    <textarea readonly="" cols="100" rows="4" class="body-textarea">{{data.body | json}}</textarea>
    </td>
    </tr>
    </table>
    </table>
    <tr ng-repeat="data in myData.web_app.methode_server.put_single">
    <td>{{data.response[0].code}}</td>
    <td>{{data.response[0].reason}}</td>
    </tr>
    <tr ng-repeat="data in myData.web_app.methode_server.delete_single">
    <td>{{data.response[1].code}}</td>
    <td>{{data.response[1].reason}}</td>
    </tr>
    <tr ng-repeat="data in myData.web_app.methode_server.delete_single">
    <td>{{data.response[2].code}}</td>
    <td>{{data.response[2].reason}}</td>
    </tr>
    </table>
    </tr>
    </table>
    </div>
    </div>
    <div class="panel panel-default">
    <div class="panel-heading clickable">
    <h3 class="panel-title">
    <table border="0">
    <tr ng-repeat="data in myData.client_app.methode_client.head">
    <td>
    <h4> {{data.title}} :</h4>
    </td>
    <td>
    <h4> {{data.class_client}}</h4>
    </td>
    </tr>
    </table>
    </h3>
    </div>
    </div>
    <div class="panel panel-success">
    <div class="panel-heading clickable">
    <h3 class="panel-title">
    <table border="0">
    <tr ng-repeat="data in myData.client_app.methode_client.post_single_user">
    <td>
    <h5> POST /</h5>
    </td>
    <td>{{data.name}}</td>
    </tr>
    </table>
    </h3><span class="pull-right"><i class="glyphicon glyphicon-minus"></i></span>
    </div>
    <div class="panel-body">
    <table border="0" class="table">
    <tr ng-repeat="data in myData.client_app.methode_client.post_single_user">
    <td>{{data.description}}</td>
    <table border="1" class="table">RESPONSE:
    <tr>
    <th>Code</th>
    <th>Reason</th>
    </tr>
    <tr ng-repeat="data in myData.client_app.methode_client.post_single_user">
    <td>{{data.response[0].code}}</td>
    <td>{{data.response[0].reason}}</td>
    </tr>
    <tr ng-repeat="data in myData.client_app.methode_client.post_single_user">
    <td>{{data.response[1].code}}</td>
    <td>{{data.response[1].reason}}</td>
    </tr>
    </table>
    <table border="0">BODY:
    <table border="0">
    <tr ng-repeat="data in myData.client_app.methode_client.post_single_user">
    <td>
    <textarea readonly="" cols="100" rows="4" class="body-textarea">{{data.body | json}}</textarea>
    </td>
    </tr>
    </table>
    </table>
    </tr>
    </table>
    </div>
    </div>
    <div class="panel panel-danger">
    <div class="panel-heading clickable">
    <h3 class="panel-title">
    <table border="0">
    <tr ng-repeat="data in myData.client_app.methode_client.delete_single_user">
    <td>
    <h5> DELETE /</h5>
    </td>
    <td>{{data.name}}</td>
    </tr>
    </table>
    </h3><span class="pull-right"><i class="glyphicon glyphicon-minus"></i></span>
    </div>
    <div class="panel-body">
    <table border="0" class="table">
    <tr ng-repeat="data in myData.client_app.methode_client.delete_single_user">
    <td>{{data.description}}</td>
    </tr>
    </table>
    <table border="1" class="table">REQUEST:
    <tr>
    <th>parameter</th>
    <th>type</th>
    <th>description</th>
    </tr>
    <tr ng-repeat="data in myData.client_app.methode_client.delete_single_user">
    <td>{{data.request[0].parameter}}</td>
    <td>{{data.request[0].type}}</td>
    <td>{{data.request[0].description}}</td>
    </tr>
    </table>
    <table border="1" class="table">RESPONSE:
    <tr>
    <th>code</th>
    <th>reason</th>
    </tr>
    <tr ng-repeat="data in myData.client_app.methode_client.delete_single_user">
    <td>{{data.response[0].code}}</td>
    <td>{{data.response[0].reason}}</td>
    </tr>
    <tr ng-repeat="data in myData.client_app.methode_client.delete_single_user">
    <td>{{data.response[1].code}}</td>
    <td>{{data.response[1].reason}}</td>
    </tr>
    <tr ng-repeat="data in myData.client_app.methode_client.delete_single_user">
    <td>{{data.response[2].code}}</td>
    <td>{{data.response[2].reason}}</td>
    </tr>
    </table>
    </div>
    </div>
    <div class="panel panel-warning">
    <div class="panel-heading clickable">
    <h3 class="panel-title">
    <table border="0">
    <tr ng-repeat="data in myData.client_app.methode_client.put_single_user">
    <td>
    <h5> PUT /</h5>
    </td>
    <td>{{data.name}}</td>
    </tr>
    </table>
    </h3><span class="pull-right"><i class="glyphicon glyphicon-minus"></i></span>
    </div>
    <div class="panel-body">
    <table border="0" class="table">
    <tr ng-repeat="data in myData.client_app.methode_client.put_single_user">
    <td>{{data.description}}</td>
    <table border="1" class="table">REQUEST:
    <tr>
    <th>parameter</th>
    <th>type</th>
    <th>description</th>
    </tr>
    <tr ng-repeat="data in myData.client_app.methode_client.put_single_user">
    <td>{{data.request[0].parameter}}</td>
    <td>{{data.request[0].type}}</td>
    <td>{{data.request[0].description}}</td>
    </tr>
    </table>
    <table border="1" class="table">RESPONSE:
    <tr>
    <th>code</th>
    <th>reason</th>
    </tr>
    <tr ng-repeat="data in myData.client_app.methode_client.put_single_user">
    <td>{{data.response[0].code}}</td>
    <td>{{data.response[0].reason}}</td>
    </tr>
    <tr ng-repeat="data in myData.client_app.methode_client.put_single_user">
    <td>{{data.response[1].code}}</td>
    <td>{{data.response[1].reason}}</td>
    </tr>
    <tr ng-repeat="data in myData.client_app.methode_client.put_single_user">
    <td>{{data.response[2].code}}</td>
    <td>{{data.response[2].reason}}</td>
    </tr>
    </table>
    <table border="0">BODY:
    <table border="0">
    <tr ng-repeat="data in myData.client_app.methode_client.put_single_user">
    <td>
    <textarea readonly="" cols="100" rows="4" class="body-textarea">{{data.body | json}}</textarea>
    </td>
    </tr>
    </table>
    </table>
    </tr>
    </table>
    </div>
    </div>
    <div class="panel panel-primary">
    <div class="panel-heading clickable">
    <h3 class="panel-title">
    <table border="0">
    <tr ng-repeat="data in myData.client_app.methode_client.get_users">
    <td>
    <h5> GET /</h5>
    </td>
    <td>{{data.name}}</td>
    </tr>
    </table>
    </h3><span class="pull-right"><i class="glyphicon glyphicon-minus"></i></span>
    </div>
    <div class="panel-body">
    <table border="0" class="table">
    <tr ng-repeat="data in myData.client_app.methode_client.get_users">
    <td>{{data.description}}</td>
    <table border="1" class="table">RESPONSE:
    <tr>
    <th>Code</th>
    <th>Reason</th>
    </tr>
    <tr ng-repeat="data in myData.client_app.methode_client.get_users">
    <td>{{data.response[0].code}}</td>
    <td>{{data.response[0].reason}}</td>
    </tr>
    <tr ng-repeat="data in myData.client_app.methode_client.get_users">
    <td>{{data.response[1].code}}</td>
    <td>{{data.response[1].reason}}</td>
    </tr>
    </table>
    <table border="0">BODY:
    <table border="0">
    <tr ng-repeat="data in myData.client_app.methode_client.get_users">
    <td>
    <textarea readonly="" cols="100" rows="4" class="body-textarea">{{data.body | json}}</textarea>
    </td>
    </tr>
    </table>
    </table>
    </tr>
    </table>
    </div>
    </div>
    <div class="panel panel-primary">
    <div class="panel-heading clickable">
    <h3 class="panel-title">
    <table border="0">
    <tr ng-repeat="data in myData.client_app.methode_client.get_single_user">
    <td>
    <h5> GET /</h5>
    </td>
    <td>{{data.name}}</td>
    </tr>
    </table>
    </h3><span class="pull-right"><i class="glyphicon glyphicon-minus"></i></span>
    </div>
    <div class="panel-body">
    <table border="0" class="table">
    <tr ng-repeat="data in myData.client_app.methode_client.get_single_user">
    <td>{{data.description}}</td>
    </tr>
    </table>
    <table border="1" class="table">REQUEST:
    <tr>
    <th>parameter</th>
    <th>type</th>
    <th>description</th>
    </tr>
    <tr ng-repeat="data in myData.client_app.methode_client.get_single_user">
    <td>{{data.request[0].parameter}}</td>
    <td>{{data.request[0].type}}</td>
    <td>{{data.request[0].description}}</td>
    </tr>
    </table>
    <table border="1" class="table">RESPONSE:
    <tr>
    <th>code</th>
    <th>reason</th>
    </tr>
    <tr ng-repeat="data in myData.client_app.methode_client.get_single_user">
    <td>{{data.response[0].code}}</td>
    <td>{{data.response[0].reason}}</td>
    </tr>
    <tr ng-repeat="data in myData.client_app.methode_client.get_single_user">
    <td>{{data.response[1].code}}</td>
    <td>{{data.response[1].reason}}</td>
    </tr>
    <tr ng-repeat="data in myData.client_app.methode_client.get_single_user">
    <td>{{data.response[2].code}}</td>
    <td>{{data.response[2].reason}}</td>
    </tr>
    </table>
    </div>
    </div>
    </div>
    </form>
    </div>
</div>
<div class="footer">
</div>
<script type="text/javascript" src="/javascripts/fyaml.js"></script>
<script src="/javascripts/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/ace/ext-language_tools.js"></script>
<script src="/javascripts/aceconfig.js" type="text/javascript"></script>
<script src="javascripts/sweetalert.min.js"></script>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script type="text/javascript" src="/javascripts/angular/app.js"></script>
<script type="text/javascript" src="/javascripts/angular/jsonCtrl.js"></script>
<script src="javascripts/documentation.js"></script>
</body>
</html>