doctype html
html
  html
    head(lang='en')
      meta(charset='UTF-8')
      title CuuBEZ Editor
      meta(name='description', content='description')
      meta(name='author', content='CuuBEZ')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(href='/stylesheets/bootstrap.css', rel='stylesheet')
      link(href='/stylesheets/editor.css', rel='stylesheet')
      link(href='/javascripts/bootstrap.js', rel='stylesheet')
      link(href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
      link(href='http://fonts.googleapis.com/css?family=Righteous', rel='stylesheet', type='text/css')
<body>

<nav class="navbar navbar-default">
<div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<img src="https://code.google.com/p/cuubez/logo?cct=1409036089">
</div>
<ul class="nav navbar-nav">
<li ><h3>Online Editor</h3><span class="sr-only">(current)</span></li>

</ul>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav navbar-right">
<li><a href="#">Link</a></li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
<li><a href="#">Action</a></li>
<li><a href="#">Another action</a></li>
<li><a href="#">Something else here</a></li>
<li class="divider"></li>
<li><a href="#">Separated link</a></li>
</ul>
</li>
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>


<div class="row">

<div id="editor" class="col-md-6">

:verbatim
  --- !clarkevans.com/^invoice
  invoice: 34843
  date   : 2001-01-23
  bill-to: &id001
      given  : Chris
      family : Dumars
      address:
          lines: |
              458 Walkman Dr.
              Suite #292
          city    : Royal Oak
          state   : MI
          postal  : 48046
  ship-to: *id001
  product:
      - sku         : BL394D
        quantity    : 4
        description : Basketball
        price       : 450.00
      - sku         : BL4438H
        quantity    : 1
        description : Super Hoop
        price       : 2392.00
  tax  : 251.42
  total: 4443.52
  comments: >
      Late afternoon is best.
      Backup contact is Nancy
      Billsmer @ 338-4338.







</div>


<div id="documentation" class="col-md-6">

:verbatim
  <pre>
  Cuubez Sample API Description
  Use virtual networking services among devices that are managed by the OpenStack Compute service. The Networking (neutron) API v2.0 combines the API v1.1 functionality with some essential Internet Protocol Address Management (IPAM) functionality.
    /employee : Employee resource
  -
  GET /employees/ getEmployees
  POST /employees/ postEmployee
  GET /employees/{empId} getEmployee
  GET SINGLE EMPLOYEE FROM THE REPOSITORY
  Request
       Parameter	Type	Description
       (QP)empId	String	employee identity
  (HP)org_id	String	Organization id
  Response
  HTTP Status Code	Reason
  500	Internal Server Error
  200	Success Response
  400	No employee found
  DELETE /employees/{empId} deleteEmployee
  PUT /employees/{empId} updateEmployee
  /users : User resource
  -
  POST /users/ postUser
  DELETE /users/{userId} deleteUser
  PUT /users/{userId} updateUser
  GET /users/ getUsers
  GET /users/{userId} getUser

  </pre>

</div>
</div>






<div class="footer">
</div>
<script src="/javascripts/ace/ext-language_tools.js"></script>
<script type="text/javascript" src="/javascripts/fyaml.js"></script>
<script src="/javascripts/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/aceconfig.js" type="text/javascript"></script>

</body>
</html>