#editor { 
        position: absolute;
        top: 10%;
        right: 50%;
        bottom: 0%;
        left: 0;
        height: 90%;
    }
#documentation {

	position: absolute;
        position: absolute;
        top: 10%;
        right: 0%;
        bottom: 0%;
        left: 50%;
        height: 90%;




}